<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <!-- No incluyas <int:id_usuario> aquí, se proporcionará dinámicamente -->
            <li><a href="{{ url_for('ventas_usuario', id_usuario=1) }}">Ver ventas del usuario 1</a>
            <li><a href="/logout">Salir</a></li>
        </ul>
    </nav>
    <h1> Bienvenido Usuario</h1>
</body>
</html>



